{% extends 'base.html' %} {% block content %}{% load bootstrap4 %}{% bootstrap_messages %} {{ form.media }}
<form method="post" class="form" enctype="multipart/form-data">
    <div class="row">
        {% csrf_token %}
            <div class='col-12' align="center">
                {% bootstrap_form form layout="horizontal" size="small"%}
            </div>
    </div>
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <p class="{{ textoformato }}"><i>{{ mensagem }}</i></p>
        </div>
        <div class='col-4'>
            <a class="btn btn-primary" role="button" href="{% url 'listaprestacao' %}">Voltar</a>
            <input type="submit" name="Salvar" value="Salvar" class="btn btn-primary">
        </div>
    </div>
</form>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12" align="center">
        <div class="card">
            <div class="card-header">
                <h5>Lançamentos</h5>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-striped table-hover table-condensed"">
                    <thead>
                        <tr>
                            <th style="
                    text-align:center">Tipo</th>
                    <th style="text-align:center">Data</th>
                    <th style="text-align:center">Descrição</th>
                    <th style="text-align:center">Valor</th>
                    <th style="text-align:center"></th>
                    <th style="text-align:center"><a href="{% url 'crialancamento' prestacao  %}"><i class="fas fa-plus"></i></a></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if lancamentosrecebimentos %}
                        {% for lancamento in lancamentosrecebimentos %}
                        <tr>
                            <td style="text-align:center">{{ lancamento.get_tipolancamento_display }}</td>
                            <td style="text-align:center">{{ lancamento.data }}</td>
                            <td style="text-align:center">{{ lancamento.descricao }}</td>
                            <td style="text-align:center">R$ {{ lancamento.valormoeda }}</td>
                            <td style="text-align:center"><a href="{% url 'atualizalancamento' prestacao lancamento.pk  %}"><i class="fas fa-pencil-alt"></i></span></a></td>
                            <td style="text-align:center"><a href="{% url 'deletalancamento' prestacao lancamento.pk  %}"><i class="fas fa-trash"></i></a></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center" bgcolor="#c1c4f4"><b>Soma recebimentos:</b></td>
                            <td style="text-align:center" bgcolor="#c1c4f4"><b>R$ {{ somarecebimentos|floatformat:2 }}</b></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                        </tr>
                        {% endif %}
                        {% if lancamentospagamentos %}
                        {% for lancamento in lancamentospagamentos %}
                        <tr>
                            <td style="text-align:center">{{ lancamento.get_tipolancamento_display }}</td>
                            <td style="text-align:center">{{ lancamento.data }}</td>
                            <td style="text-align:center">{{ lancamento.descricao }}</td>
                            <td style="text-align:center">R$ {{ lancamento.valormoeda }}</td>
                            <td style="text-align:center"><a href="{% url 'atualizalancamento' prestacao lancamento.pk  %}"><i class="fas fa-pencil-alt"></span></a></td>
                            <td style="text-align:center"><a href="{% url 'deletalancamento' prestacao lancamento.pk  %}"><i class="fas fa-trash"></a></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center" bgcolor="#f9b3b3"><b>Soma pagamentos:</b></td>
                            <td style="text-align:center" bgcolor="#f9b3b3"<b>R$ {{ somapagamentos|floatformat:2 }}</b></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                        </tr>
                        {% endif %}
                        {% if lancamentosrecebimentos or lancamentospagamentos %}
                        <tr>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                        </tr>
                        <tr>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center" bgcolor="#edefa7"><b>Saldo:</b></td>
                            <td style="text-align:center" bgcolor="#edefa7"><b>R$ {{ saldo|floatformat:2 }}</b></td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center"></td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    {% endblock content %}