{% extends 'base.html' %} {% block content %}{% load crispy_forms_tags %}{{ form.media }}
<form method="post" class="form" enctype="multipart/form-data">
    <div class="row"  align="center">
        {% csrf_token %}
            <div class='col-12'>
                {{ form|crispy }}
            </div>
    </div>
    <div class="row" align="center">
        <div class='col-12'>
            <a class="btn btn-primary" role="button" href="{% url 'atualizaprestacao' prestacao %}">Voltar</a>
            <input type="submit" name="Salvar" value="Salvar" class="btn btn-primary">
            <a class="btn btn-danger" role="button" href="{% url 'deletalancamento' prestacao lancamento  %}">Deletar</a>
        </div>
    </div>
</form>
{% endblock content %}