{% extends 'base.html' %} {% block content %}{% load bootstrap4 %}{% bootstrap_messages %} {{ form.media }}
<form method="post" class="form" enctype="multipart/form-data">
    <div class="row">
        {% csrf_token %}
            <div class='col-2'>
            </div>
            <div class='col-10'>
                {% bootstrap_form form layout="horizontal" size="small"%}
            </div>
    </div>
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <p class="{{ textoformato }}"><i>{{ mensagem }}</i></p>
        </div>
        <div class='col-4'>
            <a class="btn btn-primary" role="button" href="{% url 'atualizaprestacao' prestacao %}">Voltar</a>
            <input type="submit" name="Salvar" value="Salvar" class="btn btn-primary">
        </div>
    </div>
</form>
{% endblock content %}