<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Controle de condomínio</title>
    {% load pwa %}
    {% progressive_web_app_meta %}
    {% load bootstrap4 %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<style>
    tml,
    body {
        height: 100%;
    }

    #page-content {
        flex: 1 0 auto;
    }

    #sticky-footer {
        flex-shrink: none;
    }
    .form-control{
        width: 100px;
    }

    select {
        width: 100px;
    }
    option {
        width: 100px;
    }
    input[type=number] {
        width: 100px;
    }

    input[type=text] {
        width: 300px;
    }

    input[type=password] {
        width: 300px;
    }
</style>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Menu Inicial</a>
            {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a href="#">Usuário: {{ user.get_username }}</a>
            </div>
            {% endif %}
        </nav>
        <hr />
        {% block content %}
        {% endblock %}
        <hr />
        <footer id="sticky-footer" class="footer">
            <div class="container text-center">
                <small>Copyright &copy; Daniel Fonseca Alves</small>
            </div>
        </footer>
    </div>
</body>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function () {

        $(".clickable-row").click(function() {
        window.location = $(this).data("href");
        });

        $.datepicker.setDefaults({
            showOn: "focus",
            dateFormat: "dd/mm/yy",
            dayNames: ["Domingo", "Segunda", "Terça", "Quarte", "Quinta", "Sexta", "Sábado"],
            dayNamesMin: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
        })
        $("#id_data").datepicker();

        if ($('#id_tipodepessoa').val() == '0') {
            $("#id_numcpfcnpj").mask('000.000.000-00', { reverse: true });
        }

        if ($('#id_tipodepessoa').val() == '1') {
            $("#id_numcpfcnpj").mask('00.000.000/0000-00', { reverse: true });
        }
    });
    $('#id_tipodepessoa').change(function () {
        if ($(this).val() == '0') {
            $("#id_numcpfcnpj").mask('000.000.000-00', { reverse: true });
        }
        if ($(this).val() == '1') {
            $("#id_numcpfcnpj").mask('00.000.000/0000-00', { reverse: true });
        }
    });
</script>

</html>