{% extends 'base.html' %} {% block content %}{% load crispy_forms_tags %} {{ form.media }}
<form method="post" class="form" enctype="multipart/form-data">
    <div class="row"  align="center">
        {% csrf_token %}
            <div class='col-12' align="center">
                {% crispy form %}
            </div>
    </div>
    <div class="row"  align="center">
        <div class='col-12'>
            <a class="btn btn-primary" role="button" href="{% url 'atualizaprestacao' prestacao %}">Voltar</a>
            <input type="submit" name="Salvar" value="Salvar" class="btn btn-primary">
        </div>
    </div>
</form>
{% endblock content %}