{% extends 'base.html' %} {% block content %}{% load crispy_forms_tags %}{{ form.media }}
<form method="post" class="form" enctype="multipart/form-data">
    <div class="row">
        {% csrf_token %}
        <div class="row">
            <div class='col-12' align="center">
                <div class="alert alert-danger" role="alert">Você quer apagar prestação de {{ object }} ?</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <hr/>
        </div>
    </div>
    <div class="row" align="center">
        <div class='col-12'>
            <a class="btn btn-primary" role="button" href="{% url 'listaprestacao' %}">Voltar</a>
            <input type="submit" name="Confirmar" value="Confirmar" class="btn btn-primary">
        </div>
    </div>
</form>
{% endblock content %}