{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-12" align="center">
        <h2 class="text-center">Sistema de controle de condomínio</h2>
    </div>
</div>
<div class="row">
    <div class="col-12" align="center">
        <div class="card">
            <div class="card-header" style="text-align: center;">
                <h4>Módulos</h4>
            </div>
            <div class="card-body" style="text-align: center">
                <a class="btn btn-primary" role="button" href="{% url 'listaprestacao' %}">Controle Financeiros</a>
            </br></br>
                <a class="btn btn-primary" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}