{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Lista de prestações</h5>
            </div>
            <div class="panel-body table-responsive">
            <table class="table table-striped table-hover table-condensed"">
            <thead>
                <tr>
                    <th style="
                    text-align:center">Ano</th>
                    <th style="text-align:center">Mês</th>
                    <th style="text-align:center"></th>
                    <th style="text-align:center"><a href="{% url 'criaprestacao' %}"><i class="fas fa-plus"></i></span></a></th>
                </tr>
            </thead>
                    <tbody>
                        {% for prestacao in object_list %}
                        <tr>
                            <td style="text-align:center">{{ prestacao.get_ano_display }}</td>
                            <td style="text-align:center">{{ prestacao.get_mes_display }}</td>
                            <td style="text-align:center"><a href="{% url 'atualizaprestacao' prestacao.pk %}"><i class="fas fa-pencil-alt"></i></a></td>
                            <td style="text-align:center"><a href="{% url 'deletaprestacao' prestacao.pk %}"><i class="fas fa-trash"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}