{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <h2 style="text-align:center">Lista de prestações</h2>
    </div>
</div>
<div class="row">
        <div class="col-md-12">
                <hr/>
        </div>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <table class="table table-bordered table-striped table-condensed table-responsive">
            <thead>
                <tr>
                    <th style="text-align:center">Ano</th>
                    <th style="text-align:center">Mês</th>
                    <th style="text-align:center"></th>
                    <th style="text-align:center"><a href="{% url 'criaprestacao' %}"><span class="glyphicon glyphicon-plus"></span></a></th>
                </tr>
            </thead>
            <tbody>
                {% for prestacao in object_list %}
                <tr>
                    <td style="text-align:center">{{ prestacao.get_ano_display }}</td>
                    <td style="text-align:center">{{ prestacao.get_mes_display }}</td>
                    <td style="text-align:center"><a href="{% url 'atualizaprestacao' prestacao.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td style="text-align:center"><a href="{% url 'deletaprestacao' prestacao.pk %}"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}