{% extends 'base.html' %}{% load bootstrap4 %}{% bootstrap_messages %} {% block content %}
<form method="post" class="form">
  {% csrf_token %}
  <div class="row">
    <div class='col-12' align="center">
      {% bootstrap_form form layout="horizontal" size="small"%}
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-12" align="center">
      <p class="{{ textoformato }}"><i>{{ mensagem }}</i></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12"align="center" >
      <input type="submit" name="Salvar" value="Login" class="btn btn-primary">
    </div>
  </div>
</form>
{% endblock %}